<div class="container mt-4">
    <h2>🛒 Giỏ hàng của {{ customerInfo.full_name?.first_name }} {{ customerInfo.full_name?.last_name }}</h2>
  
    <table class="table table-bordered table-striped mt-3" *ngIf="cartItems.length > 0; else emptyCart">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Loại</th>
          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price | currency: 'VND':'symbol':'1.0-0' }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </tbody>
    </table>

    <div class="text-end mt-3" *ngIf="cartItems.length > 0">
        <button class="btn btn-success" (click)="goToOrder()">🧾 Tiến hành đặt hàng</button>
      </div>
      
  
    <ng-template #emptyCart>
      <p>Giỏ hàng trống.</p>
    </ng-template>
  </div>
  